<div class="container-fluid bg-3 text-center">
    <h3 class="margin">How Do I Do ?</h3><br>
    <div class="row">
        <div class="col-sm-3">
            <p>Confident</p>
            <img src="/images/confident.png" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Creative</p>
            <img src="images/creative.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Dynamic</p>
            <img src="/images/dynamic.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>Enthusiasm</p>
            <img src="/images/enthusiasm.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>