<div class="container-fluid bg-3 text-center">
    <h3 class="margin">How Do I Do ?</h3><br>
    <div class="row">
        <div class="col-sm-3">
            <p>Tự tin</p>
        </div>
        <div class="col-sm-3">
            <p>Sáng tạo</p>
        </div>
        <div class="col-sm-3">
            <p>Năng động</p>
        </div>
        <div class="col-sm-3">
            <p>Nhiệt huyết</p>
        </div>
    </div>
</div>