<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I ?</h3>
    <img src="<%= link %>" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="500" height="500">
    <h3>I'm <%= name %> !</h3>
</div>