<!doctype html>
<html lang="en">
<head>
    <% include ../head %>
</head>
<body>
<% include ../navbar %>
<% include ../main1 %>
<div class="container">
    <a data-toggle="tooltip" title="Không click được nữa đâu, đồ ngốc !"><%= title %></a>
</div>
<%-content %>
<% include ../footer %>
</body>
</html>