<!doctype html>
<html lang="en">
<head>
    <% include ../head %>
</head>
<body>
    <% include ../navbar %>
    <% include ../main1 %>
    <h2 class="container" style="color: #2f2f2f">Các bài viết.</h2>
    <% list.forEach(function(row){ %>
    <%- include('content', {title:row.title, _id: row._id }); %>
    <% }); %>
    <% include ../footer %>

</body>
</html>